<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809934640455-76lo9ottgail54jtjp8eq8r79839rtve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809934640455-76lo9ottgail54jtjp8eq8r79839rtve</string>
	<key>API_KEY</key>
	<string>AIzaSyCb8YCRfmOK33Io7LqmQWm04x6I5Nuuz4w</string>
	<key>GCM_SENDER_ID</key>
	<string>809934640455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.data245.pinkyeye.app</string>
	<key>PROJECT_ID</key>
	<string>pinkyeye-39fab</string>
	<key>STORAGE_BUCKET</key>
	<string>pinkyeye-39fab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809934640455:ios:cd8dcb8394f23e0a2e2862</string>
	<key>DATABASE_URL</key>
	<string>https://pinkyeye-39fab.firebaseio.com</string>
</dict>
</plist>