<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290525865156-o4plg18imsncrdodjf23tk0nqdsljhkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290525865156-o4plg18imsncrdodjf23tk0nqdsljhkk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>290525865156-b755sdgekscf7ae0gf9msve6hkl0l3c8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnPK4HcXuAIS6hQDj0oALq4BZkaPOkGsw</string>
	<key>GCM_SENDER_ID</key>
	<string>290525865156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.data245.pinkyeye.app</string>
	<key>PROJECT_ID</key>
	<string>pinkyeye-ed40c</string>
	<key>STORAGE_BUCKET</key>
	<string>pinkyeye-ed40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290525865156:ios:3161ad865f03e0be775591</string>
	<key>DATABASE_URL</key>
	<string>https://pinkyeye-ed40c.firebaseio.com</string>
</dict>
</plist>